Hey! Your friend has been looking at their GitHub metrics and thought you would want to as well.

Click <a href="https://thegitgames.herokuapp.com/">here</a> and enter your GitHub username to see your metrics, too!
